.App {
	background: linear-gradient(
		112.5deg,
		rgb(95, 10, 135) 11.4%,
		rgb(164, 80, 139) 60.2%
	);
}

.App-header {
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: #fff;
}

.App-footer {
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: #fff;
}

.repo {
	color: #fff;
	text-decoration: none !important;
}

.repo:hover {
	color: #430f58;
	text-decoration: none !important;
}
